/* CSS Variables */
:root {
  --primary-font: ;
  --secondary-font: ;
  --primary-color: #D72631; /* Red */
  --secondary-color: #B0B8C1; /* Light Grey */
  --accent-color: #9E1B20; /* Dark Red */
  --light-accent-color: #FFFFFF; /* Pure White */
  --text-dark-color: #2E2E2E; /* Dark Grey */
  --text-light-color: #F5F5F5; /* Lighter Grey */
}

/* General Styles */
body {
  background-color: var(--light-accent-color);
}

/* Navbar Styles */
#navbar {
  background-color: var(--primary-color);
  color: var(--text-light-color);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* grid visualization */
/* section,
header,
footer {
  background-color: var(--secondary-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
} */
