/* Google Fonts import */
@import url("https://fonts.googleapis.com/css2?family=Gugi&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* CSS Variables */
:root {
  --primary-font: Gugi, sans-serif;
  --secondary-font: Asap, sans-serif;
  --primary-color: #d72631; /* Red */
  --secondary-color: #b0b8c1; /* Light Grey */
  --accent-color: #9e1b20; /* Dark Red */
  --light-accent-color: #ffffff; /* White */
  --text-dark-color: #2e2e2e; /* Dark Grey */
  --text-light-color: #f5f5f5; /* Lighter Grey */
}

/* General Styles */
body {
  background-color: var(--secondary-color);
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: var(--primary-font);
  color: var(--text-dark-color);
}

p {
  font-family: var(--secondary-font);
  color: var(--text-dark-color);
}

.main-layout {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  border-radius: 10px;
}

.main-colour {
  background-color: var(--light-accent-color);
}

/* Navbar Styles */
#navbar {
  background-color: var(--primary-color);
  color: var(--text-light-color);
}

#navbar .navbar-brand img {
  max-width: 32px;
}

/* Header Styles */

/* Main content */

/* About Me Styles */

#about img {
  border-radius: 50%;
  border: 5px solid var(--accent-color);
}

/* Projects Styles */

#projects .card {
  margin-bottom: 1.5rem;
  border: none;
  background-color: transparent;
}

#projects .card-footer {
  border: none;
}

/* Footer Styles */
#footer .container-fluid {
  background-color: var(--primary-color);
  color: var(--text-light-color);
  padding: 10px;
}

#footer #foot-logo {
  max-width: 35px;
}

#footer .socials i {
  color: var(--light-accent-color);
  font-size: 1.8rem;
  margin: 0.5rem 1rem 0 1rem;
}

#footer .socials i:hover {
  color: var(--accent-color);
}

/* Media queries */

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  /* Header */
  #header p {
    padding: 0 120px;
  }

  /* Projects */
  #projects .card-body {
    min-height: 220px;
  }

  #projects h2 {
    white-space: nowrap;
  }
}

/* Large devices (small laptops, 992px and up) */
@media screen and (min-width: 992px) {
  .constrain {
    max-width: 928px;
  }

  /* Navbar Styles */
  #navbar {
    border-radius: 0;
  }

  /* Header */
  #header p {
    padding: 0 240px;
  }

  /* Project styles */
  #projects .card-body {
    min-height: 160px;
  }

  /* Footer Styles */
  #footer .main-layout {
    border-radius: 0;
  }
}
